#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_example.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_example.csv"

#
# ESP System Settings
#
CONFIG_ESP_MAIN_TASK_STACK_SIZE=5120

#
# mDNS
#
CONFIG_MDNS_STRICT_MODE=y

