menu "FTP Server Configuration"

	menu "File System Selection"

	choice FILE_SYSTEM
		prompt "File System Selection"
		default FATFS
		help
			Select File System.
		config FATFS
			bool "FAT File System on FLASH"
			help
				Use FAT File System on FLASH.
		config SPI_SDCARD
			bool "FAT File System on SPI SDCARD"
			help
				Use FAT File System on SPI SDCARD.
		config MMC_SDCARD
			bool "FAT File System on MMC SDCARD"
			help
				Use FAT File System on MMC SDCARD.
	endchoice

	config MISO_GPIO
		depends on SPI_SDCARD
		int "MISO GPIO number"
		range 0 46
		default 16 if IDF_TARGET_ESP32
		default 13 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI MISO.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to MISO.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

   config MOSI_GPIO
		depends on SPI_SDCARD
		int "MOSI GPIO number"
		range 0 46
		default 15 if IDF_TARGET_ESP32
		default 11 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI MOSI.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to MOSI.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

   config SCLK_GPIO
		depends on SPI_SDCARD
		int "SCLK GPIO number"
		range 0 46
		default 14 if IDF_TARGET_ESP32
		default 12 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI SCLK.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to SCLK.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

   config CS_GPIO
		depends on SPI_SDCARD
		int "CS GPIO number"
		range 0 46
		default 13 if IDF_TARGET_ESP32
		default 10 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI CS.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to CS.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

   config POWER_GPIO
		depends on SPI_SDCARD
		int "POWER GPIO number"
		range -1 46
		default -1 if IDF_TARGET_ESP32
		default 14 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI POWER.
			When it is -1, the POWER isn't performed.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to POWER.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

	endmenu

	menu "WiFi Setting"

	config ESP_WIFI_SSID
		string "WiFi SSID"
		default "myssid"
		help
			SSID (network name) for the example to connect to.

	config ESP_WIFI_PASSWORD
		string "WiFi Password"
		default "mypassword"
		help
			WiFi password (WPA or WPA2) for the example to use.

	config ESP_MAXIMUM_RETRY
		int "Maximum retry"
		default 5
		help
			Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

	config MDNS_HOSTNAME
		string "mDNS Hostname"
		default "ftp-server"
		help
			mDNS Hostname for FTP Server.

	config STATIC_IP
		bool "Enable Static IP Address"
		default false
		help
			Enable Static IP Address.

	config STATIC_IP_ADDRESS
		depends on STATIC_IP
		string "Static IP Address"
		default "192.168.10.100"
		help
			Static IP Address for Station.

	config STATIC_GW_ADDRESS
		depends on STATIC_IP
		string "Static GW Address"
		default "192.168.10.1"
		help
			Static GW Address for Station.

	config STATIC_NM_ADDRESS
		depends on STATIC_IP
		string "Static Netmask"
		default "255.255.255.0"
		help
			Static Netmask for Statione.

	config NTP_SERVER
		string "NTP Server"
		default "pool.ntp.org"
		help
			Hostname for NTP Server.

	config LOCAL_TIMEZONE
		int "Your TimeZone"
		range 0 23
		default 0
		help
			Your local timezone.  When it is 0, Greenwich Mean Time.


	endmenu


	menu "FTP Server Setting"

	config FTP_USER
		string "FTP User Name"
		default "esp32"
		help
			FTP User name for this Server.

	config FTP_PASSWORD
		string "FTP Password"
		default "esp32"
		help
			FTP Password for this Server.

	endmenu

endmenu
